In [12]:
import pandas as pd

# Reading Data

In [82]:
df = pd.read_csv('weather_data.csv')

In [83]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [63]:
df = pd.read_csv('pokemon_data.csv')

In [64]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [76]:
# Excel
# df_xlsx = pd.read_excel('pokemon_data.xlsx')

In [77]:
# pip install xlrd==1.2.0

In [71]:
df = pd.read_csv('pokemon_data.txt')

In [72]:
df.head()

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

In [74]:
df = pd.read_csv('pokemon_data.txt', delimiter='\t')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [80]:
df = pd.read_csv('COVID-19 Compile - Worldmeter.csv')

In [81]:
df.head()

,data_continent,url,country,data_date,death_rate,recovery_rate,cases,daily_cases,currently_infected,deaths,daily_deaths,new_recoveries,new_cases
0,North America,country/us/,USA,2020-02-14T17:00:00Z,0.0,100.0,15,NaN,12,0.0,0.0,NaN,NaN
1,North America,country/us/,USA,2020-02-15T17:00:00Z,0.0,100.0,15,0.0,12,0.0,0.0,NaN,NaN
2,North America,country/us/,USA,2020-02-16T17:00:00Z,0.0,100.0,15,0.0,12,0.0,0.0,NaN,NaN
3,North America,country/us/,USA,2020-02-17T17:00:00Z,0.0,100.0,15,0.0,12,0.0,0.0,NaN,NaN
4,North America,country/us/,USA,2020-02-18T17:00:00Z,0.0,100.0,15,0.0,12,0.0,0.0,NaN,NaN

<img src="python_dict.jpeg">

# Create data

In [84]:
#Can we recreate the first two rows?
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [79]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)

In [17]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
df.shape

(6, 4)

In [19]:
rows, columns = df.shape

In [20]:
print(rows)
print(columns)

6
4

# Look through the data

In [21]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [22]:
df.head(n=3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [24]:
df.tail(n=1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

# Creating data from different type: array and list

In [25]:
import numpy as np

In [26]:
# Array
array_1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [27]:
df = pd.DataFrame(array_1, columns=['first_col', 'second_col', 'third_col'])

In [28]:
df.head()

   first_col  second_col  third_col
0          1           2          3
1          4           5          6
2          7           8          9

In [29]:
#List
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 8, 9, 10]

In [34]:
print(list(zip(list_1, list_2)))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [35]:
df = pd.DataFrame(list(zip(list_1, list_2)), columns=['first_col', 'second_col'])

In [36]:
df.head()

   first_col  second_col
0          1           6
1          2           7
2          3           8
3          4           9
4          5          10

# Indexing through the data

In [37]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)

In [42]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [49]:
df[['event', 'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [53]:
df[2:5][['event', 'day']]

  event       day
2  Snow  1/3/2017
3  Snow  1/4/2017
4  Rain  1/5/2017

# Accessing column

In [43]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [44]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [45]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [48]:
#selecting type
type(df['event'])

pandas.core.series.Series

In [54]:
df['temperature'].mean()

30.333333333333332

In [55]:
df['temperature'].max()

35

In [56]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000